@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#header {
  background-color: #a80000;
}

body {
  background: #ddd;
}

#main {
  padding-top: 150px;
  position: relative;
  overflow: hidden;
  height: 100%;
}

#main-banner {
  text-align: center;
}

#wrapper {
	width: 960px;
	height: 300px;
	margin: 0 auto;
}

.smaller {
	font-size: 70%;
}

h1 {
	text-align: left;
}

#sidebar {
  left: -200px;
	position: fixed;
	width: 150px;
  height: 100%;
	background: #48a770;
}

a {
  text-decoration: none;
  /*color: #5d8cc2;*/
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #5d8cc2;
}

hr {
  border-color: #444;
  border-top-width: 2px;
}

@media(min-width:768px) {
    #main {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

.slider {
    background-color: #7e0001;
    height: 500px;
    overflow: hidden;
}

.slick-prev {
  left: 25px;
  z-index: 1;
}

.slick-next {
  right: 25px;
}

.slick-prev:before, .slick-next:before {
   color: #fff;
}

.jumbotron {
  background-color: #a80000;
  color: #fff;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#header li:hover {
  background-color: #7e0001 !important;
}

#header a {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 12px;
}

#footer {
  background-color: #a80000;
  color: #fff;
  font-size: 12px;
  padding: 20px 0px;
  margin-top: 20px;
}

#main-banner {
  background-image: url("../img/robot2.jpg");
  height: 600px;
}

#main-banner p {
    width: 500px;
}

#menu-icon {
  padding: 20px 30px;
  display: block;
  background-image: url("../img/ic_menu_white_24dp_1x.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.open .dropdown-toggle {
  background-color: #7e0001 !important;
}

#navbar .dropdown-menu {
  background-color: #a80000;
}

#navbar .dropdown-menu a {
  padding: 10px;
}

#navbar .dropdown-menu a:hover {
  background-color: #7e0001;
}

.divider-vertical {
  height: 50px;
  margin: 5% 10px;
  border-right: 1px solid #fff;
}

.img-banner {
  background-attachment: fixed;
  background-repeat: round;
  /*min-height: 400px;*/
  text-shadow: black 0.1em 0.1em 0.1em;
}

.navbar-nav {
  margin: 7.5px 15px;
}

.navbar-nav li {
  margin-right: 10px;
}

.navbar-nav .active a {
  background-color: #7e0001 !important;
}

.vert {
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

/**** PAGE STYLE ****/
#main.notop {
  padding-top: 80px !important;
}

div.page {
  background-color: #a22;
}

div.logo img {
  height: 130px;
}

/**** SPONSORS STYLE ****/
#tw-sponsor {
  background-image: url("../img/robot2.jpg");
}

#pw-sponsor {
  background-image: url("../img/0T8A2619.jpg");
}

#dw-sponsor {
  background-image: url("../img/0T8A2619.jpg");
}

#gw-sponsor {
  background-image: url("../img/IMG_5876.jpg");
}

#sw-sponsor {
  background-image: url("../img/IMG_5876.jpg");
}

#bw-sponsor {
  background-image: url("../img/IMG_8534.JPG");
}
